# FastAPI and related packages 
fastapi>=0.104.0 
uvicorn>=0.23.2 
 
# OpenAI and related packages 
anthropic>=0.18.0 
openai>=1.12.0 
 
# PyPI Mirror settings 
--index-url https://pypi.tuna.tsinghua.edu.cn/simple   
--trusted-host pypi.tuna.tsinghua.edu.cn   
--extra-index-url https://download.pytorch.org/whl/cpu  
 
# Machine learning and AI-related packages 
transformers>=4.38.0 
torch==2.2.0 
 
# Environment variables and utilities 
python-dotenv>=1.0.0 
 
# Langchain and related packages (aligned versions)
langchain>=0.3.21,<1.0.0  # 符合 langchain-community 的要求 
langchain-core>=0.3.41,<1.0.0 
langchain-openai==0.2.0 
langchain-huggingface==0.1.2 
langchain-community==0.3.20 
langchain-text-splitters==0.3.7 
 
# Other libraries 
requests==2.32.3 
RAGatouille==0.0.9 
beautifulsoup4==4.12.3 
tiktoken==0.9.0 
numpy==1.26.4 
pydantic>=2.7.4,<3.0.0 
azure-core==1.32.0 
chromadb==0.6.3 
psycopg2-binary==2.9.10 
neo4j==5.14.0 
opensearch-py==2.8.0 
python-multipart>=0.0.6 
pandas>=2.0.0 
openpyxl>=3.1.0 
python-pptx>=0.6.21 
graphviz>=0.20.1 
SQLAlchemy==2.0.35 
pymongo 
PyJWT>=2.8.0 
redis>=5.0.0 